@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

* {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100vw;
    height: auto;
    margin: 0;
    background-color: #e5eaf5;
    display: grid;
    grid-template-columns: 0.7fr 2fr 0.7fr;
}

/*SIDEBAR*/

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: #fea49f;
    color: #101357;
    padding: 10px;
}

.logo {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: start;
    font-size: calc(1.2rem + 0.4vw);;
    font-weight: 600; 
    gap: 10px;
}

.logo img {
    justify-self: end;
}

.links {
    list-style-type: none;
    font-size: calc(0.7rem + 0.4vw);
    font-weight: 600; 
}

.links li {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.links img {
    width: 25px;
}

/*HEADER*/

.header {
    overflow: hidden;
    grid-column: 2 / 4;
    background-color: #101357;
    color: white;
    padding: 10px 30px 10px 30px;
    font-size: calc(0.7rem + 0.4vw);
    font-weight: 600; 
}

.header-start img[alt*='icon'] {
    width: 25px;
}

.header-start img[alt*='photo'] {
    width: 40px;
    border-radius: 50%;
}

.header-start {
    display: grid;
    grid-template-columns: 1.8fr 1.2fr;
    grid-auto-flow: column;
    gap: 30px;
}

.header-end {
    grid-template-columns: 2 / 3;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

#user {
    font-size: calc(1rem + 0.7vw);
}

.search-bar {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    gap: 5px;
}

input#search-field {
    border: 1px solid white;
    border-radius: 20px;
    height: 25px;
    width: 100%;
    padding: 2px 23px 2px 20px;
    outline: 0;
}

input#search-field:hover, .search:focus {
    border: 2px solid #fea49f;
    background-color: white;
}

.profile {
    grid-column: 2 / 3;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.welcome-message {
    display: flex;
    gap: 20px;
}

.welcome-message p {
    margin: 5px;
}

.welcome-message img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.header-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    gap: 30px;
}

.header-buttons button {
    cursor: pointer;
    border: none;
    background-color: #fea49f;
    color: #101357;
    width: 6rem;
    height: 2.2rem;
    border-radius: 18px;
    font-size: calc(0.6rem + 0.4vw);
    font-weight: 600; 
}

/*Main Content*/

.card-container {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 20px 20px 20px;
}

#title {
    display: flex;
    align-items: center;
    grid-column: 1 / 3;
    height: 50px;
    padding: 5px 20px 5px 20px;
    margin: 0;
    font-size: calc(1rem + 0.4vw);
    font-weight: 500; 
    color: #B2C248;
}

.card-container .card {
    display: grid;
    grid-template-rows: 1fr 4fr 1.5fr;
    background-color: white;
    height: 200px;
    border-radius: 15px;
    box-shadow: var(--shadow);
    border-left: 10px solid #B2C248;
    padding: 20px;
}

.card-container .card img {
    width: 25px;
}

.action-block {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.card p {
    display: flex;
    align-items: flex-start;
    font-size: calc(0.7rem + 0.4vw);
    color: #b6bac3;
    font-weight: 600;
    margin: 0;
}

.card-container .card h3 {
    margin: 0;
    color: #B2C248;
    font-size: calc(1rem + 0.4vw) !important;
}

/*ANNOUNCEMENTS AND TRENDING*/

.announcements-trending {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0 20px 20px 0px;
}

.block .card {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: fit-content;
    border-radius: 15px;
    box-shadow: var(--shadow);
    padding: 20px;
    gap: 15px;
}

.block .card p {
    font-size: calc(0.45rem + 0.4vw);
}

.announcement {
    display: grid;
    gap: 5px;
}

.block #title {
    color: #101357 !important;
}

.horizontal-line {
    display: flex;
    border-bottom: 1px solid #b6bac3;
    height: 10px;
}